{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% block body %}

<div class="form-main-container">
    <h3 class="text-center">Login</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginName">Username</label>
                <input type="text" id="loginName" name="loginName" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="loginPassword" class="form-control" />
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center">

                <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock body%}